@media screen and (max-width: 768px) { 
  .left-side-nav strong {
    display: none;
  }

  #tweet-modal-button {
    display: none;
  }

  .left-side-nav {
    left: 3em;
    width: 6em;
  }

  .left-side-nav>a {
    margin: 0.3em 0;
    padding: 0.7em 0.1em;
  }
  
  .left-side-nav>a i {
    margin-left: 0.5em;
    padding-left: 0.4em;
  }

  #tweet-modal-icon {
    display: block;
    background-color: #1DA1F2;
    padding: 0.8em 0.1em;
    color: #fff;
  }

  .logo>i {
    margin: 0.2em 0 0 0 !important;
  }
  
  .nav-photo {
   margin-left: 0.3em;
  }

  .grid-container {
    left: 9em;
  }

  .right-side-nav {
    display: none;
  }

  .theme-modal {
    width: 40em;
    left: 5em;
  }

  .tweet-modal-container {
    left: 5em;
  }
}

@media screen and (max-width: 425px) { 
  .left-side-nav {
    display: none;
  }

  .grid-container {
    left: 0; 
  }

  .smallscreen-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    border-top: 2px solid #E6ECF0;
    width: 100%;
    background-color: #fff; 
  }

  .smallscreen-nav>a i {
    font-size: 1.5em;
    color: #1DA1F2;
    padding: 1em 1em;
    border-radius: 2em;
    margin: 0 1em;
  }

  .tweet-options button {
    margin-left: 3em;
  }
  
  .user-profile p {
    width: 25em;
  }

  .user-profile a {
    margin-right: 1.5em;
  }
}
