@media screen and (max-width: 768px) { 
  .left-side-nav strong {
    display: none;
  }

  #tweet-modal-button {
    display: none;
  }

  .left-side-nav {
    left: 3em;
    width: 6em;
  }

  .left-side-nav>a {
    margin: 0.3em 0;
    padding: 0.7em 0.1em;
  }
  
  .left-side-nav>a i {
    margin-left: 0.5em;
    padding-left: 0.4em;
  }

  #tweet-modal-icon {
    display: block;
    background-color: #1DA1F2;
    padding: 0.8em 0.1em;
    color: #fff;
  }

  .logo>i {
    margin: 0.2em 0 0 0 !important;
  }
  
  .nav-photo {
   margin-left: 0.3em;
  }

  .grid-container {
    left: 9em;
  }

  .right-side-nav {
    display: none;
  }

  .theme-modal {
    width: 40em;
    left: 5em;
  }

  .tweet-modal-container {
    left: 5em;
  }
}

@media screen and (max-width: 425px) { 
  .left-side-nav {
    left: 0;
    width: 4em;
  }

  .grid-container {
    left: 4em;
  }

  .main-content {
    width: 32em;
  }

  .tweet-options>button {
    margin-left: 3em;
  }

  .user-profile a {
    margin-right: 1.5em;
  }
  
  .user-profile a i {
    margin-right: 0.2em;
  }

  .theme-modal {
    width: 30em;
    left: 3em;
    padding: 1.2em;
  }

  .theme-modal button {
    width: 8em;
    margin-left: 1em;
  }

  .tweet-modal-container {
    width: 32em;
    left: 3em;
  }

  .nav-input-modal>div>textarea {
    width: 22em;
    padding: 1em 0 0 1em;
  }

  .user-profile p,
  .user-profile strong {
    margin: 0 1em;
    line-height: 1.8em;
  }
}
