.grid-container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  position: absolute;
  top: 0;
  left: 21em;
}

.main-content {
  position: relative;
  border-right: 1px solid #E6ECF0;
  width: 42em;
  height: 100%;
}

.profile-photo {
  height: 3.8em;
  width: 3.8em;
  max-width: 3.8em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin-left: 1em;
}

.home {
  width: 100%;
  height: 3em;
  margin-top: 0.8em;
  border-bottom: 1px solid #E6ECF0;
}

.home > strong  {
  font-weight: bold;
  height: 1.8em;
  font-size: 1.8em;
  padding-left: 0.5em;
}

.user-input {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  height: auto;
}

.user-options {
  height: auto;
  margin-top: 1em;
  border-bottom: 10px solid #E6ECF0;
}

.user-input textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.2em;
  overflow-y: hidden;
}

.user-input textarea::placeholder {
  color: #969BA7;
  font-size: 1.2em;
}

.user-input strong {
  color: #1DA1F2;
}

.tweet-options a:hover,
#photoIcon:hover {
  background-color: #F5FBFE;
}

.add-tweet-button:hover {
  background-color: #2d91cf;
}

.main-content-photo {
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
}

.tweet-item {
  display: flex;
  width: 100%;
  border-top: 1px solid #E6ECF0;
  border-bottom: 1px solid #E6ECF0;
}

.tweet-content-item {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  padding: 1em 0 1em 0.8em;
  width: 100%;
  height: auto;
}

.tweet-info > button {
  margin-right: 2em;
  padding: 0.2em;
}

.tweet-info > button:hover {
  color: #0a0aff;
}

.tweet-info > button i {
  font-size: 1em;
  margin-right: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
}

.tweet-info > button:nth-child(3):hover {
  color: #f11c00;
} 

.small-screen-photo {
  display: none;
}

.delete-button {
  margin: 1em;
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  border: unset;
  border-radius: 1.5em;
  font-weight: 700;
}

.delete-modal {
  display: none;
  position: fixed;
  top: 15em;
  left: 35%;
  width: 25%;
  padding: 1em 2em;
  height: 15em;
  border-radius: 0.8em;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.delete-modal button {
  margin: 1em 0.5em;
  width: 8em;
  height: 2.5em;
  border: unset;
  border-radius: 1.5em;
  font-weight: 700;
}

.confirm-button {
  color: #fff;
  background-color: #e0245e;
}

.tweet-item > div {
  width: 35em;
}

.tweet-text {
  line-height: 1.8em;
  margin-top: 0.5em;
}

#addPhoto {
  display: none;
}

.tweet-item > div > strong {
  font-size: 1.2em;
}

.button-container {
  position: absolute;
  left: 50%;
}

#message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4em;
  width: 30%;
  padding: 1em;
  color: #000;
  text-align: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #8ED0F9;
  z-index: 1;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#message > strong {
  font-size: 1.2em;
  margin-right: 2em;
}

.message-btn {
  border: unset;
  border-radius: 1.8em;
  font-weight: 700;
  width: 4em;
  height: 2em;
}

#root button:active {
  transform: translateY(4px);
}

.tweet-item:hover {
  background-color: #F9F9F9;
}



.comment-modal-container {
  display: none;
  position: fixed;
  top: 5em;
  left: 27%;
  width: 45%;
  padding: 1em 0em;
  height: 50%;
  border-radius: 0.8em;
  background-color: #fff;
  z-index: 1;
}

.comment-modal-button {
  font-size: 1.5em;
  color: #1da1f2;
  padding: 0.2em 0.6em;
  border-radius: 1em;
}

.comment-modal-container > div:first-child {
  border-bottom: 1px solid  #E6ECF0;
  padding: 0 0 0.5em 0.5em;
}

.add-comment-button {
  float: right;
  background-color: #1DA1F2;
  height: 2.5em;
  width: 5em;
  color: #fff;
  border-radius: 2em;
  margin: 0 2em;
  font-weight: 600;
}

.comment-box {
  width: 23em;
  height: 5em;
  font-size: 1.5em;
  border: none;
  padding: 0.5em 1em;
  outline: none;
  resize: none;
}

.comment-box::placeholder {
  color: #9197A3;
}

.comment-modal-container .tweet-input {
  border: none;
}

.comment-output {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  width: 100%;
  height: auto;
  margin: 1em auto;
  padding-left: 1em;
}

.profile-name {
  font-weight: 550;
}

@media screen and (max-width: 425px) { 
  .grid-container {
    left: 0; 
  }

  .smallscreen-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    border-top: 2px solid #E6ECF0;
    width: 100%;
    height: 6em;
    background-color: #fff; 
  }

  .smallscreen-nav > a i {
    font-size: 2.5em;
    color:#1DA1F2;
    border-radius: 2em;
    margin: 0.5em 1.5em;
  }

  .main-content-photo {
    height: 4.5em;
    width: 4.5em;
  }

  .user-options {
    display: none;
  }

  .main-content {
    margin-bottom: 3em;
    margin-top: 7em;
  }

  .home {
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 1;
    background-color: #fff; 
    width: 100%;
    height: 6em;
    padding: 1em 0;
  }

  .home strong {
    border: none;
    font-weight: 800;
    font-size: 2.5em;
    vertical-align: middle;
  }

  .small-screen-photo {
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 1em;
    background-color: #000000d7;
  }

  .smallscreen-nav > a:nth-child(1) {
    position: fixed;
    bottom: 8em;
    right: 2em;
    background-color: #1DA1F2;
    border-radius: 10em; 
    width: 6em;
    height: 6em;
  } 

  .smallscreen-nav > a:nth-child(1) i {
    color: #fff;
    font-size: 2em;
    margin: 1em 0 0 1em;
  }

  .tweet-modal-container {
    top: 8em;
    left: 0em;
  }

  #close-modal-button {
    font-size: 1.8em;
  }

  .delete-button {
    margin-left: 8em;
  }

  .delete-modal {
    top: 10em;
    left: 3em;
    width: 70%;
    padding: 1em;
    height: 13em;
  }

  .delete-modal button {
    margin: 1em 0em;
  }

  .delete-modal p,
  .delete-modal > h3 {
    font-size: 1.2em;
  }

  .edit-profile-modal {
    top: 10em;
    left: 0;
    font-size: 1.05em;
    animation: none;
  }

  .tweet-item {
    font-size: 1.5em;
    overflow-x: hidden;
  }

  .tweet-item > div {
    width: 22em;
    padding: 0 1em;
  }

  .tweet-info a {
    margin-right: 0.8em;
  }
}
