.comment-page {
  position: relative;
  border-right: 1px solid #E6ECF0;
  width: 42em;
  height: 100%;
}

#returnButton {
  vertical-align: middle;
  color: #1DA1F2;
}

.comment-content {
  position: relative;
  top: 6em;
  height: auto;
  padding-bottom: 1em;
}

.comment-content > div:first-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 2em;
}

.comment-content > div:nth-child(2) {
  padding: 0 2em;
}

.user-profile-name {
  margin: 1em 0;
  flex: 0.92;
  font-weight: 650;
  font-size: 1.1em;
}

.about-comment p {
  font-size: 1.1em;
}

.comment-text {
  font-size: 1.5em;
}

.comment-interaction {
  padding: 1em 0;
  margin: 0 2em;
  border-top: 1px solid #E6ECF0;
  border-bottom: 1px solid #E6ECF0;
  font-size: 1.1em;
}

.comment-interaction > span {
  padding-right: 1em;
}

.comment-options {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  padding: 0.5em;
  border-bottom: 1px solid #E6ECF0;
}

.reply-item-options {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.comment-modal-container {
  display: none;
  position: fixed;
  top: 3em;
  left: 27%;
  width: 42%;
  padding: 1em 0em;
  height: 55%;
  border-radius: 0.8em;
  background-color: #fff;
  z-index: 2;
}

.comment-modal-button {
  font-size: 1.5em;
  color: #1da1f2;
  padding: 0.2em 0.6em;
  border-radius: 1em;
}

.comment-modal-container > div:first-child {
  border-bottom: 1px solid  #E6ECF0;
  padding: 0 0 0.5em 0.5em;
}

.add-reply-button {
  float: right;
  background-color: #1DA1F2;
  height: 2.5em;
  width: 5em;
  color: #fff;
  border-radius: 2em;
  margin: 0.3em 2em;
  font-weight: 600;
}

.comment-box {
  width: 23em;
  height: 6.5em;
  font-size: 1.5em;
  border: none;
  padding: 0.5em 1em;
  outline: none;
  resize: none;
}

.comment-box::placeholder {
  color: #9197A3;
}

.comment-modal-container .tweet-input {
  border: none;
}

.about-comment {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  width: 100%;
  height: auto;
  margin: 1em auto;
  padding-left: 1em;
}

.reply-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #E6ECF0;
}

.reply-content-item {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  padding: 1em 0 1em 2em;
  width: 100%;
  height: auto;
}
