.dark-theme {
  color: #fff;
}

.dark-theme .logo>i {
  color: #fff;
}

.dark-theme .logo:hover {
  background-color: #192734;
}

.dark-theme .left-side-nav {
  border-right: 1px solid #2F3336;
}

.dark-theme .left-side-nav>a:hover {
  color: #1DA1F2;
}

.dark-theme a:hover,
.dark-theme #trend-button:hover {
  background-color: #15181c;
}

.dark-theme .left-side-nav>a {
  color: #fff;
} 

.dark-theme .dropdown-content {
  background-color: #000;
  box-shadow: 0px 8px 16px 0px #fdf8f833;
}

.dark-theme .dropdown-content a {
  color: #fff;
}

.dark-theme .dropdown-content i {
  color: #585f65;
}

.dim-theme .dropdown-content>a:nth-child(4) {
  border-bottom: 1px solid #38444d;
}

.dark-theme button:hover {
  background-color: #2d91cf;
}

.dark-theme .right-side-nav>input {
  background-color: #15181C;
}

.dark-theme .right-side-nav>i,
.dark-theme .right-side-nav>input::placeholder {
  color: #6E767D;
}

.dark-theme .tweet-options>a:hover,
.dark-theme .tweet-profile:hover,
.dark-theme #photoIcon:hover {
  background-color: #15181C;
} 

.dark-theme textarea {
  background-color: #000;
}

.dark-theme .tweet-profile {
  border-top: 1px solid #2F3336;
  border-bottom: 1px solid #2F3336;
}

.dark-theme .tweet-info>a {
  color: #657786;
}

/* .dim-theme .tweet-info>a:hover {
  color: #1DA1F2;
} */

.dark-theme .main-content {
  border-right: 1px solid #2F3336;
}

/* .dark-theme .main-content>h3 {
  border-bottom: 1px solid #2F3336;
} */

.dark-theme .user-options {
  border-bottom: 10px solid #2F3336;
}

.dark-theme .trending-tweets,
.dark-theme .trending-tweets>button {
  background-color: #15181c;
}

.dark-theme .current-trend {
  border-top: 1px solid #2f3336;
}

.dark-theme .trend-modal,
.dark-theme .trend-modal button  {
  background-color: #000;
}

.dark-theme .trend-modal button:hover,
.dark-theme #close-modal-button:hover {
  background-color: #192734;
}

.dark-theme .set-location {
  border-top: 1px solid #2f3336;
  border-bottom: 15px solid #2f3336;
}

.dark-theme .top-nav {
  border-bottom: 1px solid #2f3336;
}

.dark-theme .tweet-info>a:hover {
  color: #1DA1F2;;
}

.dark-theme .tweet-info>a:nth-child(3):hover {
  color: #f11c00;
}

.dark-theme .trend-modal p,
.dark-theme .heading {
  border-bottom: 1px solid #253341;
}

.dark-theme .theme-modal {
  background-color: #000;
}

.dark-theme .tweet-options {
  border-top: 1px solid #2f3336;
} 

.dark-theme #light-out-button {
  box-shadow: 0px 8px 16px 0px #fdf8f854;
}

.dark-theme #tweet-modal-overlay {
  background-color: #393d43ad; 
}

.dark-theme .tweet-modal-container,
.dark-theme #close-modal-button {
  background-color: #000;
}

.dark-theme .nav-input-modal {
  border-top: 1px solid #2F3336;
}

.dark-theme .delete-button,
.dark-theme .delete-modal,
.dark-theme .edit-profile-modal {
  background-color: #000;
}

.dark-theme .cancel-button {
  color: #000;
}

.dark-theme #profileInput {
  background-color: #18181c;
}

.dark-theme #profileInput::placeholder {
  color: #fff;
}
