@media screen and (max-width: 768px) { 
  .left-side-nav strong {
    display: none;
  }

  #tweet-modal-button {
    display: none;
  }

  .left-side-nav {
    left: 3em;
    width: 6em;
  }

  .left-side-nav>a {
    margin: 0.3em 0;
    padding: 0.7em 0.1em;
  }
  
  .left-side-nav>a i {
    margin-left: 0.5em;
    padding-left: 0.4em;
  }

  #tweet-modal-icon {
    display: block;
    background-color: #1DA1F2;
    padding: 0.8em 0.1em;
    color: #fff;
  }

  .logo>i {
    margin: 0.2em 0 0 0 !important;
  }
  
  .nav-photo {
    margin-left: 0.3em;
  }

  .grid-container {
    left: 9em;
  }

  .right-side-nav {
    display: none;
  }

  .theme-modal {
    width: 40em;
    left: 5em;
  }

  .tweet-modal-container {
    left: 5em;
  }
}

@media screen and (max-width: 425px) { 
  .left-side-nav {
    display: none;
  }

  .grid-container {
    left: 0; 
  }

  .smallscreen-nav {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    border-top: 2px solid #E6ECF0;
    width: 100%;
    height: 6em;
    background-color: #fff; 
  }

  .smallscreen-nav>a i {
    font-size: 2.5em;
    color:#1DA1F2;
    border-radius: 2em;
    margin: 0.5em 1.5em;
  }

  .main-content-photo {
    height: 4.5em;
    width: 4.5em;
  }

  .user-options {
    display: none;
  }

  .main-content {
    margin-bottom: 3em;
    margin-top: 7em;
  }

  .top-nav {
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 1;
    background-color: #fff; 
    width: 100%;
    height: 6em;
    padding: 1em 0;
  }

  .top-nav strong {
    border: none;
    font-weight: 800;
    font-size: 2.5em;
    vertical-align: middle;
  }

  .small-screen-photo {
    display: inline-block;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 1em;
  }

  .smallscreen-nav>a:nth-child(1) {
    position: fixed;
    bottom: 8em;
    right: 2em;
    background-color: #1DA1F2;
    border-radius: 10em; 
    width: 6em;
    height: 6em;
  } 
  
  .smallscreen-nav>a:nth-child(1) i {
    color: #fff;
    font-size: 2em;
    margin: 1em 0 0 1em;
  }
  
  .tweet-modal-container {
    top: 8em;
    left: 0em;
  }

  #close-modal-button {
    font-size: 1.8em;
  }

  .right-side-nav {
    margin: 0;
    overflow-y: hidden;
  }
  
  .right-side-nav input {
    display: none;
  }
  
  .trending-tweets {
    position: absolute; 
    left: 0.5em;
    top: 3em;
    margin: 2em 0 8em 0;
    width: 95%;
    font-size: 1.5em;
  }

  .trend-modal p {
    font-size: 1.6em;
  }
  
  .trend-modal span {
    font-size: 1.4em;
    padding: 0 0 0 1em;
  }

  .trend-modal {
    top: 8em;
    left: 2em;
    width: 37em;
  }

  .trend-modal>strong {
    font-size: 1.6em;
  }

  .set-trend input {
    margin-left: 22em;
  }
  
  .set-location input {
    margin-left: 13em;
  }

  .trend-modal small {
    font-size: 1.3em;
    padding: 0 1em 0 1.1em;
  }

  .tweet-profile {
    font-size: 1.5em;
    overflow-x: hidden;
  }

  .user-data {
    width: 22em;
    padding: 0 1em;
  }

  .tweet-info a {
    margin-right: 0.8em;
  }
  
  .delete-button {
    margin-left: 8em;
  }

  .delete-modal {
    top: 10em;
    left: 3em;
    width: 70%;
    padding: 1em;
    height: 13em;
  }
  
  .delete-modal button {
    margin: 1em 0em;
  }

  .delete-modal p,
  .delete-modal>h3 {
    font-size: 1.2em;
  }

  .smallscreen-left-nav {
    display: none;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 6em;
    background-color: #fff;
    width: 50%;
    height: 100%;
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  @keyframes fadeIn {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
  }

  .smallscreen-left-nav>a {
    display: block;
    padding: 1em;
    font-size: 1.5em;
    color: #000;
    font-weight: 700;
  }
  
  .smallscreen-left-nav>a i{
    margin: 0 1em;
  }

  .edit-profile-modal {
    top: 10em;
    left: 0;
    font-size: 1.05em;
    animation: none;
  }

  .theme-modal {
    width: 40em;
    left: 1em;
  }

  .theme-modal p {
    font-size: 1.8em;
  }

  .theme-modal button {
    display: block;
    width: 90%;
    margin: 1em auto;
    font-size: 1.3em;
  }

  .dim-theme .smallscreen-left-nav {
    background-color: #192734;
  }

  .dim-theme .smallscreen-left-nav>a {
    color: #fff;
  }

  .dim-theme .smallscreen-nav {
    border-top: 2px solid #253341;
    background-color: #192734;
  }

  .dim-theme .top-nav {
    border-bottom: 2px solid #253341;
    background-color: #192734;
  }

  .dark-theme .smallscreen-left-nav {
    background-color: #000;
  }

  .dark-theme .smallscreen-left-nav>a {
    color: #fff;
  }

  .dark-theme .smallscreen-nav {
    border-top: 2px solid #2F3336;
    background-color: #000;
  }

  .dark-theme .top-nav {
    border-bottom: 2px solid #2F3336;
    background-color: #000;
  }
}
